.landingView {
    height: 100vh;
}

.header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/sd.jpg);
    background-color: hsla(0,0%,100%,.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    height: 500px;
    color: white;
    font-weight: bolder;
}

.doormat {
    height: 40em;
    background-color: black;
    color: white;
}

.doormat-left {
    /* padding-left: 3em; */
}

.doormat-right {
    text-align: center;
}

.doormat-main-text {
    font-family: 'special elite';
    font-size: 3.2em;
    text-align: center;
}

.doormat-sub-text-white {
    font-family: 'special elite';
    font-size: 1em;
    background-color: white;
    color: black;
    width: 13em;
    animation: fadeInLeft;
    --animate-delay: 0.5s;
    /* margin-left: auto;
    margin-right: auto; */
}

.doormat-sub-text {
    font-family: 'special elite';
    font-size: 1em;
    text-align: center;
}

.doormat-image {
    height: 20em;
    width: 20em;
}

.doormat-bottom {
    font-family: oswald;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.doormat-bottom-btn-container {
    padding-left: 0;
    padding-right: 0;
}

.doormat-bottom-left {
    text-align: right;
    margin-right: 1em;
}

.doormat-bottom-btn {
    width: 100%;
    font-size: .8em;
    background-color: #39ffc4;
    border-color: #0affe2;
    color: white;
    text-shadow: 0 0 3px black;
    /*
    pale green #c0e2d1
    dark green #527565
    ray green #0affe2
    mint #5271ff
    blood orange #ffde59
    pale blue #5271ff
    pale orange #ffde59
    */

}

.doormat-bottom-right {
    text-align: left;
    margin-left: 1em;
}

.section-header {
    font-family: 'special elite';
    font-size: 3.2em;
    color: white;
    text-align: center;
    margin-top: 1em;
    text-shadow: 0 0 5px black
}

.card {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: black;
    color: white;
}

.card-title {
    font-family: oswald;
    font-size: 2em;
}

.projects {
    background-color: #c0e2d1;
    padding-bottom: 3em;
}

.project-btn-div {
    text-align: center;
}

.project-btn {
    color: black;
    background-color: white;
    font-family: oswald;
    font-size: 1.2em;
    width: 4em;
    margin: .2em;
}

.project-carousel {
    text-shadow: 1px 1px .5em black;
    width: auto;
}

.project-carousel-text {
    font-family: oswald;
    background-color: rgba(57, 255, 196, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
}

.dash {
    color: #0affe2;
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    border: solid;
    border-top: 1 px solid #0affe2;
}

.contact {
    height: 100vh;
    background-color: #527565;
    padding-bottom: 3em;
}

.contactLabel {
    font-family: oswald;
    font-size: 1.5em;
    color: white;
    margin-top: 1em;
}

.contactBtn {
    margin-top: 2em;
    width: 100%;
    font-size: 1.2em;
    background-color: black;
    border-color: black;
    color: white;
    text-shadow: 0 0 3px black;
}

.copyright {
    color: white;
    font-size: 1em;
    margin-top: 4em;
}

@media screen and (max-width: 768px) {
    .doormat-bottom-btn-container {
        margin-left: auto;
        margin-right: auto;
    }

    .doormat-bottom-left {
        text-align: center;
        margin-right: 0;
        margin-bottom: .5em
    }

    .doormat-bottom-right {
        text-align: center;
        margin-left: 0;
        margin-top: .5em;
    }
}